<%- include('includes/head') %>

	<div class="wrapper">
		<%- include('includes/sidebar') %>

		<div class="main">
			<%- include('includes/header') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">How to setup Version ?</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="row">
										<div class="col-12 col-lg-12 col-xxl-12 d-flex">
											<div class="flex-fill">
												<div class="card-header">
				
													<h5 class="card-title mb-0">Instruction to setup Version</h5>
													<div class="container pt-3">
														<h4>Part 1: Finding the Version on Your Local PC</h4>
														<ol>
															<li>Open <strong>C Drive</strong> on your device.</li>
															<li>Navigate to the <strong>Program Files</strong> folder: <code>C:\Program Files\</code>.</li>
															<li>Inside the Program Files folder, locate the <strong>3D Systems</strong> folder.</li>
															<li>Look for a folder named <strong>3D Sprint X.X.X.XXXX</strong>, where <code>X.X.X.XXXX</code> is the version number.</li>
															<li>Take note of the version number (e.g., <strong>5.4.0.1026</strong>).</li>
															<li>Now, proceed to the application.</li>
														</ol>
													
														<h4>Part 2: Updating the Application with the Version</h4>
														<ol>
															<li>Log in using your credentials.</li>
															<li>Go to the <strong>Settings</strong> tab.</li>
															<li>Find the <strong>Version</strong> input field.</li>
															<li>Enter the version number you noted earlier into the input field.</li>
															<li>Click <strong>Save</strong>, and you are now ready to use the application!</li>
														</ol>
													</div>
													
												</div>
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>

				</div>
			</main>
			<%- include('includes/footer') %>